<%- include admin_header.ejs%>
<br>
<a class="a_style" href="/admin">商品信息管理</a>>><a id="middle_path" class="a_style" href=""><%= middle_path%></a>>>删除属性
<br>
<br>
<table class="table">
    <thead>
    <tr>
        <th>属性名称</th>
        <th>属性值</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <% properties.forEach(function(property, index) {%>
    <tr class="property_item">
        <td class="property_name"><%= property.name%></td>
        <td><%= property.property_value%></td>
        <td><a href="#" id="delete_property" class="a_style">删除</a></td>
    </tr>
    <% })%>
    </tbody>
</table>
<script src="/my_js/ad_delete_property.js"></script>
<%- include admin_footer.ejs%>