<%- include admin_header.ejs %>
<p>商品信息管理</p>
<a class="btn" href="/ad_add_products">添加商品</a>
<br/><br/>
<table class="table">
    <thead>
    <tr>
        <th>序号</th>
        <th>商品名称</th>
        <th>商品数量</th>
        <th>单价（元）</th>
        <th>单位</th>
        <th>发布时间</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <% products.forEach(function(item,index) {%>
    <tr class="product_item">
        <td class="hidden"><%= item._id%></td>
        <td class="number"><%= index+1%></td>
        <td class="product_name"><%= item.name %></td>
        <td>
            <button type="button" class="btn btn-default add_minus_btn minus_product">-</button>
            <input class="number_input p_number" name="total_number" type="text" value="<%= item.total_number%>">
            <button type="button" class="btn btn-default add_minus_btn add_product">+</button>
        </td>
        <td><%= item.price %></td>
        <td><%= item.unit %></td>
        <td ><%= item.publish_time%></td>
        <td>
            <a class="a_style" href="/ad_products_detail?id=<%= item._id%>">详情</a>&nbsp;&nbsp;&nbsp;<a class="a_style deleteProduce" href="">删除</a>
        </td>
    </tr>
    <% })%>
    </tbody>
</table>
<%- include paging.ejs %>
<script src="/my_js/ad_products.js"></script>

<%- include admin_footer.ejs %>
