<%- include admin_header.ejs %>
<p>商品信息管理</p>
<button>添加商品</button>
<table class="table">
    <thead>
    <tr>
        <th>序号</th>
        <th>商品名称</th>
        <th>商品数量</th>
        <th>单价（元）</th>
        <th>单位</th>
        <th>发布时间</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <% products.forEach(function(item,index) {%>
    <tr >
        <td>
            index+1
        </td>
        <td >
            <%= item.type%>
        </td>
        <td >
            <%= item.name %>
        </td>
        <td >
            <%= item.price %>
        </td>
        <td >
            <%= item.unit %>
        </td>
        <td >
            <button class="btn btn-primary btn-lg" onclick=" add_to_cart('<%= item.barcode %>') ">加入购物车</button>
        </td>
    </tr>
    <%})%>
    </tbody>
</table>
<%- include admin_footer.ejs %>
