<%- include admin_header.ejs %>
<p>商品信息管理</p>
<a class="btn" href="/ad_add_products">添加商品</a>
<br/><br/>
<table class="table">
    <thead>
    <tr>
        <th>序号</th>
        <th>商品名称</th>
        <th>商品数量</th>
        <th>单价（元）</th>
        <th>单位</th>
        <th>发布时间</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <% products.forEach(function(item,index) {%>
    <tr class="product_item">
        <td class="hidden"><%= item.barcode%></td>
        <td class="number"><%= index+1%></td>
        <td class="product_name"><%= item.name %></td>
        <td>120</td>
        <td><%= item.price %></td>
        <td><%= item.unit %></td>
        <td >19/9/2014</td>
        <td>
            <button class="a_style show_detail" >详情</button>&nbsp;&nbsp;&nbsp;<button class="a_style deleteProduce" >删除</button>
        </td>
    </tr>
    <%})%>
    </tbody>
</table>
<script src="/my_js/ad_products.js"></script>
<%- include admin_footer.ejs %>
