<%- include admin_header.ejs %>
<p>商品信息管理</p>
<a class="btn" href="/ad_add_products">添加商品</a>
<br/><br/>
<table class="table">
    <thead>
    <tr>
        <th>序号</th>
        <th>商品名称</th>
        <th>商品数量</th>
        <th>单价（元）</th>
        <th>单位</th>
        <th>发布时间</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <% products.forEach(function(item,index) {%>
    <tr >
        <td>
            <%= index+1%>
        </td>
        <td >
            <%= item.name %>
        </td>
        <td >
            120
        </td>
        <td >
            <%= item.price %>
        </td>
        <td >
            <%= item.unit %>
        </td>
        <td >
            19/9/2014
        </td>
        <td>
            <a class="a_style" href="/ad_products_detail">详情</a>&nbsp;&nbsp;&nbsp;<a class="a_style" href="#">删除</a>
        </td>
    </tr>
    <%})%>
    </tbody>
</table>
<%- include admin_footer.ejs %>
