<%- include header.ejs %>

<div id="main_cart_panel" class="panel panel-default">
    <div class="panel-heading my_panel_head_left">
        <h3 class="panel-title">购物清单</h3>
    </div>
    <div id="cart_panel" class="panel-body">
        <table class="table table-bordered">
            <thead>
            <td>分类</td>
            <td>名称</td>
            <td>单价（元）</td>
            <td>单位</td>
            <td>数量</td>
            <td>小计</td>
            </thead>
            <tbody id="cart_item_body">
            <% cart_items.forEach(function( item, index) {%>
            <tr id="item_body" >
                <td class="hidden"><%= item.barcode%></td>
                <td >
                    <%= item.type%>
                </td>
                <td >
                    <%= item.name %>
                </td>
                <td >
                    <%= item.price %>
                </td>
                <td >
                    <%= item.unit %>
                </td>
                <td >
                    <div class="btn-group">
                        <button class="btn btn-default minusGood" >-</button>
                        <button class="btn btn-default count_value" disabled="disabled" ><%= item.count %></button>
                        <button class="btn btn-default addGood" >+</button>
                    </div>
                </td>
                <% if(item.promotion_number) {%>
                    <td id="total_price"> <%= item.total_price.toFixed(2) %>元(原价: <%= item.price * item.count.toFixed(2)%>元)</td>
                <% } else{%>
                    <td id="total_price"> <%= item.total_price.toFixed(2) %>元</td>
                <% }%>
            </tr>
            <%})%>
            </tbody>
        </table>
        <div class="side-space text-right">
            <span id="total_payments">总计：<%= total_payments%>元</span>
            <br>
            <p><a id="pay_button" class="btn btn-primary btn-lg" href="/pay_page">付款</a></p>
        </div>
    </div>
</div>

<script >
    $(document).ready(function() {
        $("#cart").addClass("active");
    })
</script>
<script src="/my_js/page_functions.js"></script>

<%- include footer.ejs%>