<%- include header.ejs%>

<div class="panel panel-default">
    <div class="panel-heading my_panel_head_left">
        <h3 class="panel-title">购物清单</h3>
    </div>
    <div id="pay_panel_body" class="panel-body">
        <%= current_time%>
        <table class="table table-bordered">
            <thead>
            <td>分类</td>
            <td>名称</td>
            <td>单价（元）</td>
            <td>单位</td>
            <td>数量</td>
            <td>小计</td>
            </thead>
            <tbody id="bought_list_body">
            <% bought_list.forEach(function( item, index) {%>
            <tr id="item_body" >
                <td class="hidden"><%= item.barcode%></td>
                <td >
                    <%= item.type%>
                </td>
                <td >
                    <%= item.name %>
                </td>
                <td >
                    <%= item.price %>
                </td>
                <td >
                    <%= item.unit %>
                </td>
                <td >
                    <%= item.count %>
                </td>
                <% if(item.promotion_number) {%>
                <td id="total_price"> <%= item.total_price %>元(原价: <%= item.price * item.count%>元)</td>
                <% } else{%>
                <td id="total_price"> <%= item.total_price %>元</td>
                <% }%>
            </tr>
            <%})%>
            </tbody>
        </table>
    </div>

    <div class="panel-heading my_panel_head_left">
        <h3 class="panel-title">赠送商品</h3>
    </div>
    <div class="panel-body">

        <table class="table table-bordered">
            <thead>
            <td>分类</td>
            <td>名称</td>
            <td>数量</td>
            </thead>
            <tbody id="promotion_body">
            <% saved_list.forEach(function( item, index) {%>
            <tr id="item_body" >
                <td class="hidden"><%= item.barcode%></td>
                <td >
                    <%= item.type%>
                </td>
                <td >
                    <%= item.name %>
                </td>
                <td >
                    <%= item.promotion_number %>
                </td>
            </tr>
            <%})%>
            </tbody>
        </table>
        <div class="my_panel_tail">
            <p>总计：<span ><%= total_payments%></span>元</p>
            <p>节省：<span ><%= saved_money%></span>元</p>
            <p><a id="total_pay_button" class="btn btn-primary btn-lg" href="/sure_pay">确认</a></p>
        </div>
    </div>
</div>

<%- include footer.ejs%>