<%- include header.ejs%>

<div class="panel panel-default">
    <div class="panel-heading my_panel_head">
        <h3 class="panel-title">商品列表</h3>
    </div>
    <div class="panel-body">
        <table class="table table-bordered">
            <thead>
            <td>分类</td>
            <td>名称</td>
            <td>单价（元）</td>
            <td>单位</td>
            <td></td>
            </thead>
            <tbody id="product_list_body">
                <% product_list.forEach(function(item,index) {%>
                <tr >
                    <td >
                        <%= item.type%>
                    </td>
                    <td >
                        <%= item.name %>
                    </td>
                    <td >
                        <%= item.price %>
                    </td>
                    <td >
                        <%= item.unit %>
                    </td>
                    <td >
                        <button class="btn btn-primary btn-lg" >加入购物车</button>
                    </td>
                </tr>
                <%})%>
            </tbody>
        </table>
    </div>
</div>

<script>
  $(function(){

      $("#list_page").addClass("active");
  });
</script>

<%- include footer.ejs%>